<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Tangier Employed Providers</title>
    <link href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.common.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.blueopal.min.css" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css"/>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.aspnetmvc.min.js"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body class="k-content">
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-between p-0">
        <h1 class="navbar-brand d-flex align-items-center">Tangier Employed Providers</h1>
        <button id="configure" class="k-rpanel-toggle k-button k-primary btn-toggle">
            <span class="k-icon k-i-menu"></span>
        </button>
    </div>
</nav>

<div id="responsive-panel" class="navbar navbar-dark bg-light">
    @(Html.Kendo().Menu()
          .Name("Menu")
          .HtmlAttributes(new {style = "width:100%"})
          .Items(items =>
          {
              items.Add().Text("Home");
              items.Add()
                  .Text("Refresh Files")
                  .Items(children => { children.Add().Text("Refresh Lookup Data"); });
              items.Add().Text("Load Tangier Data")
                  .Items(children => children.Add().Text("Import Prior Month Tangier Pay"))
                  .Items(children => children.Add().Text("Import Current Month Tangier Pay"));
              items.Add()
                  .Text("Update Mapping Tables")
                  .Items(children =>
                      children.Add().Text("Update Earnings Map"));
              items.Add()
                  .Text("Create Employee Files")
                  .Items(children =>
                      children.Add().Text("Process Part Time MidLevel Pay"))
                  .Items(children =>
                      children.Add().Text("Process Full Time MidLevel Pay"))
                  .Items(children =>
                      children.Add().Text("Process Partner Pay"))
                  .Items(children =>
                      children.Add().Text("Process Hospitalist Pay"));
          })
          )
</div>

<main>
    <div class="container-fluid">
        @RenderBody()
    </div>
</main>

<footer class="footer text-center d-flex align-items-center">
    <div class="container-fluid">
        <p class="text-muted">Copyright © @DateTime.Now.Year SCP Health and/or its subsidiaries or affiliates. All Rights Reserved.</p>
    </div>
</footer>

<script>
    $(document).ready(function() {
        $("#responsive-panel").kendoResponsivePanel({
            breakpoint: 768,
            autoClose: false,
            orientation: "top"
        });
    });

    function onclick(e) {
        $("#responsive-panel").getKendoResponsivePanel().toggle();
    }
</script>
</body>
</html>